:root {
  --body-bg-color: #333;
  --foreground-color: #e8e6e3;
  --highlight-color: #776e62;
  --bg-color: #181a1b;

  --clock-font-size: 4rem;
  --set-header-font-size: 2rem;
  --bookmark-font-size: 1rem;
  --link-icon-height: 1.5rem;
  --scroll-bg: #202324;
  --scroll-fg: #454a4d;
}

body {
  background-color: var(--body-bg-color);
  margin: 0px;
  font-family: "sans-serif";
  height: 100vh;
  scrollbar-color: var(--scroll-bg) var(--scroll-fg);
}

.main-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.clock {
  font-size: var(--clock-font-size);
  font-weight: bold;
  color: var(--foreground-color);
  text-align: center;
  width: 100%;
}

.center {
  text-align: center;
}

a:hover {
  color: var(--highlight-color);
}

.bookmark {
  color: var(--foreground-color);
  margin: 0.35rem;
  font-size: var(--bookmark-font-size);
}

.link-icon {
  height: var(--link-icon-height);
}

.link-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.15rem;
}

@media only screen and (min-device-width : 1201px)  {
  .bookmark-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
  }
}

@media only screen and (max-device-width : 1200px)  {
  .bookmark-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1rem;
  }
}

.bookmark-set {
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  color: var(--highlight-color);
  padding: 1rem;
  margin: 1rem;
  border: 2px solid var(--highlight-color);
}

.bookmark-inner-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  height: 10rem;
  overflow-y: auto;
}

.set-header {
  margin-bottom: 1rem;
  font-size: var(--set-header-font-size);
  font-weight: bold;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}
